/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

@media only screen and (max-width: 768px) {
    header {
        height: 300px !important;
    }

    nav {
        align-items: center;
        flex-direction: column;
    }

    nav a {
        padding: 10px;
    }

    main h1 {
        font-size: 160% !important;
    }

    main .content {
        flex-direction: column-reverse;
    }

    main .content .image {
        width: 100% !important;
        height: 300px;
    }

    main .content .description {
        width: 100% !important;
    }

    main .content .description .dash, main .content .description .text {
        padding-top: 20px !important;
    }

    main .content .description .dash {
        padding-left: 15px !important;
    }

    main .content .description .text {
        padding-right: 15px !important;
        padding-bottom: 0 !important;
    }

    main .reversed {
        flex-direction: column;
    }

    footer {
        flex-direction: column;
    }

    footer span {
        display: block;
    }

    footer span::after {
        content: "" !important;
    }

    footer .rights {
        padding-bottom: 10px;
    }

    footer .footer-nav {
        font-size: 90%;
    }
}

body {
    font: 100% "Open Sans", sans-serif;
    background-color: #fbfafa;
    color: #555559;
}

body .white-text {
    color: #ffffff;
    font-weight: 600;
}

header {
    height: 500px;
    background-size: cover;
    background-image: url("../img/header.png");
}

header .instagram-wrapper {
    display: flex;
    justify-content: flex-end;
    padding: 12px 20px;
    height: 20px;
}

header .instagram-icon {
    height: 20px;
    width: 20px;
    background: url("../img/instagram-icon.png") no-repeat;
    padding-right: 5px;
}

header .instagram-text {
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
    font-size: 14px;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 45px 25%;
    background-color: #ffffff;
    font-size: 20px;
    -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: #2e2e2e;
    font-weight: 600;
}

main .intro {
    padding: 100px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

main .intro .hotdog-icon {
    width: 95px;
    height: 95px;
    background: url("../img/hotdog-icon.png") no-repeat;
    padding: 10px 0;
}

main .intro h1 {
    font-weight: 300;
    font-size: 50px;
    text-align: center;
    padding: 20px 0 60px;
}

main .intro button {
    background-color: #286782;
    border: none;
    padding: 20px 30px;
    font-size: 16px;
}

main .intro button:hover {
    -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

main .content {
    display: flex;
}

main .content .image {
    -webkit-background-size: cover;
    background-size: cover;
    width: 50%;
}

main .content .hotdog-first {
    background-image: url("../img/hotdog-first.png");
}

main .content .hotdog-second {
    background-image: url("../img/hotdog-second.png");
}

main .content .hotdog-third {
    background-image: url("../img/hotdog-third.png");
}

main .content .description {
    background-color: #ffffff;
    width: 50%;
    display: flex;
    justify-content: center;
}

main .content .description .text {
    padding-top: 220px;
    padding-right: 140px;
    padding-bottom: 220px;
}

main .content .description .text h2 {
    font-weight: 800;
    font-size: 18px;
    display: inline;
}

main .content .description .text p {
    padding: 30px 0;
    font-weight: 300;
    font-size: 18px;
}

main .content .description .text p .underlined {
    text-decoration: underline;
}

main .content .description .dash {
    padding-top: 220px;
    padding-left: 115px;
    padding-right: 20px;
    font-size: 30px;
    line-height: calc(18 / 30);
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 25px 20px;
}

footer .footer-nav span::after {
    content: "| ";
    padding: 0 15px;
}

footer .footer-nav a {
    text-decoration: none;
    color: #555559;
}

/*# sourceMappingURL=base.css.map */
